<!DOCTYPE html>
<html>
	<head>
		<title>Portwiki</title>
		<!-- Links e metas -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="css/portwiki.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	</head>
	<body>
		<!-- Cabeçalho -->
		<header>
			<a href="/" class="esq-seta"><img src="img/voltar.png"	width="40"></a>
			<div class="logo">
				<img src="img/logo-portwiki.png" width="40" height="40">
				<h1>Port<b>wiki</b></h1>
			</div>
		</header>

		<main>
			<!-- sessão de apresentação -->
			<section class="apresentation">
				<div class="container-apresentation">
					<h2>Seja muito bem vindo, <b>Programador!</b></h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint 	occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<!-- botões sessão de apresentação -->
					<div class="botoes">
						<a class="button" href="form_cadastro_user">Criar conta</a>
						<a href="#">Entrar</a>
					</div>
				</div>
				<!-- Curva fim sessão 1 -->
				<div class="curve">
					<img src="img/curve.png">
				</div>
			</section>
			<!-- sessão cursos básicos -->
			<section class="cursos">
				<h1>Cursos Básicos</h1>

				<div class="curso">
					<!-- Curso HTML -->
					<div class="curso-html">
					<div class="top-html">
						<img src="img/html-curso.png">
						<h2>HTML Básico</h2>	
					</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et d3olore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#">Participar</a>
				</div>
				<!-- Curso CSS -->
				<div class="curso-css">
					<div class="top-css">
						<img src="img/curso-css.png">
						<h2>CSS Básico</h2>	
					</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et d3olore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco l aboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="#">Participar</a>
					</div>
					<!-- Curso JS -->
					<div class="curso-js">
						<div class="top-js">
							<img src="img/curso-js.png">
							<h2>JavaScript Básico</h2>	
						</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et d3olore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco l aboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<a href="#">Participar</a>
					</div>
				</div>
			</section>

			<!-- Rodapé -->
			<footer>
				<p>&copy; Afonso Goiaba</p>
				<a href="https://github.com/afonsogoiaba">github.com/afonsogoiaba</a>
			</footer>
		</main>
	</body>
</html>