<!DOCTYPE html>
<html>
	<head>
		<title>Portwiki</title>
		<!-- Links e metas -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="css/portwiki.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	</head>
	<body>
		<!-- Cabeçalho -->
		<header>
			<div class="menu">
				<div id="myNav" class="overlay">
  				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  				<!-- "menu" -->
  				<div id="nav" class="overlay-content">
    				<a href="/portwiki">Home</a>
    				<a href="#cursos_tutoriais">Cursos e tutoriais</a>
   					<a href="/form_cadastro_user">Cadastro</a>
    				<a href="/form_login_user">Login</a>
  				</div>
				</div>
					<a href="#">
						<img src="img/menu.png" width="40" height="30" onclick="openNav()">
					</a>
			</div>

			<div class="logo">
				<img src="img/logo-portwiki.png" width="40" height="40">
				<a href="portwiki"><h1>Port<b>wiki</b></h1></a>
			</div>
			<!-- Menu web-->
			<nav>
				<ul>
					<li><a href="/portwiki">Home</a></li>
					<li><a href="#cursos_tutoriais">Cursos e tutoriais</a></li>
					<li><a href="/form_cadastro_user">Cadastro</a></li>
					<li><a href="/form_login_user">Login</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<!-- sessão de apresentação -->
			<section class="apresentation">
				<div class="container-apresentation">
					<h2>Seja muito bem vindo, <b>Programador!</b></h2>

					<p>Seja bem vindo a plataforma de cursos e tutoriais online do seu Campus! Este site foi desenvolvido durante o trabalho de conclusão de curso e, antes disso, pensado minimamente  durante o último trabalho da disciplina de Linguagem de Apresentação e Estruturação de Conteúdos 2, ministrada no 4º semestre do curso. O objetivo do mesmo é o de passar a maior quantidade de conhecimento nas diversas  área do curso para as novas turmas, sendo desde mini-cursos de linguagens de programação, estruturação e/ou estilização à até tutoriais de instalação de softwares que algum estudante está com dificuldades e necessita do mesmo para que seu aprendizado prossiga. Lembre-se, o aprendizado é algo muito poderoso, e se torna ainda mais quando é passado a diante!</p>
					<!-- botões sessão de apresentação -->
					<div class="botoes">
						<a class="button" href="form_cadastro_user">Criar conta</a>
						<a href="form_login_user">Entrar</a>
					</div>
				</div>
				<!-- Curva fim sessão 1 -->
				<div class="curve">
					<img src="img/curve.png">
				</div>
			</section>
			<!-- sessão cursos básicos -->
			<section class="cursos" id="cursos_tutoriais">
				<h1>Cursos Básicos</h1>

				<div class="curso">
					<!-- Curso HTML -->
					<div class="curso-html">
					<div class="top-html">
						<img src="img/html-curso.png">
						<h2><%=curso[0].nome_curso%></h2>	
					</div>
						<p><%=curso[0].desc_curso%></p>
					<a href="curso_html">Participar</a>
				</div>
				<!-- Curso CSS -->
				<div class="curso-css">
					<div class="top-css">
						<img src="img/curso-css.png">
						<h2>Instalação do Sublime Text 3</h2>	
					</div>
						<p>Neste tutorial você irá aprender a instalar a IDE (Ambiente de desenvolvimento) Sublime Text 3. Tal tutorial tem o objetivo de auxiliar os estudantes que não tem muita familiaridade com instalação de softwares em suas máquinas, quebrando um pouco o medo de pegar vírus ou malwares. Tal IDE é totalmente segura, além de ser muito prática, rápida e de fácil utilização. Conta com suporte a diversas linguagens, tornando-se uma plataforma ideal para iniciantes.</p>
						<a href="#">Participar</a>
					</div>
					<!-- Curso JS -->
					<div class="curso-js">
						<div class="top-js">
							<img src="img/curso-js.png">
							<h2>Como instalar o MySQL Workbench</h2>	
						</div>
							<p>O MySQL Workbench é uma ferramenta visual unificada para arquitetos de banco de dados. Ele fornece modelagem de dados, desenvolvimento de SQL e ferramentas abrangentes de administração para configuração de servidores, administração de usuários, backup e muito mais, sendo disponível no Windows, Linux e Mac OS X. Sua instalação se torna complexa por se tratar de um servidor com diversos módulos, por isso este tutorial visa facilitar o entendimento da instalação.</p>
						<a href="#">Participar</a>
					</div>
				</div>
			</section>
		</main>
		<!-- Rodapé -->
		<footer>
			<p>&copy; Afonso Goiaba</p>
			<a href="https://github.com/afonsogoiaba">github.com/afonsogoiaba</a>
		</footer>
		<script type="text/javascript" src="js/effect-roll.js"></script>
		<script type="text/javascript" src="js/nav.js"></script>
	</body>
</html>