<!DOCTYPE html>
<html>
	<head>
		<title>Cadastro</title>
		<!-- Links e metas -->
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/portwiki.css">
    <link rel="stylesheet" type="text/css" href="css/cadastro.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  </head>

  <body>
		<!-- Cabeçalho -->
		<header>
      <a href="form_cadastro_user" class="esq-seta"><img src="img/voltar.png" width="40"></a>
			<div class="logo">
				<img src="img/logo-portwiki.png" width="40" height="40">
				<a href="portwiki"><h1>Port<b>wiki</b></h1></a>
			</div>
    </header>
    <!-- Conteudo -->
    <main>
      <!-- Formulário Login -->
      <section class="main">
        <form action="/logar/entrar" class="form_cadast" method="post">
          <h2>Entre agora!</h2>
          <div class="container-entrada">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf">
          </div>

          <div class="container-entrada">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha">
          </div>

          <div class="container-entrada">
            <input type="submit" value="Fazer login">
          </div>

          <div class="container-entradaa">
            <a href="form_cadastro_user">Ainda não é cadastrado? Clique aqui!</a>
          </div>
        </form>
      </section>
      <!-- Fim form -->
    </main>
    <!-- Fim conteudo -->

    <!-- Rodapé -->
    <footer>
        <p>&copy; Afonso Goiaba</p>
        <a href="https://github.com/afonsogoiaba">github.com/afonsogoiaba</a>
    </footer>
  </body>
</html>