<!DOCTYPE html>
<html>
	<head>
		<title>Portwiki</title>
		<!-- Links e metas -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/portwiki.css">
    <link rel="stylesheet" type="text/css" href="css/curso-html.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	</head>
	<body>
		<!-- Cabeçalho -->
		<header>
			<a href="/" class="esq-seta"><img src="img/voltar.png"	width="40"></a>
			<div class="logo">
				<img src="img/logo-portwiki.png" width="40" height="40">
				<a href="portwiki"><h1>Port<b>wiki</b></h1></a>
			</div>
    </header>
    <!-- Fim cabeçalho -->
    
    <!-- Começo Conteúdo -->
    <main>
      <section class="home-curso">
        <div class="lista">
          <div class="name">
            <h2>Painel do curso</h2>
          </div>
          <ul>
            <li><a href="#">Apresentação do curso básico de HTML, CSS e JS</a></li>
          </ul>
        </div>

        <div class="main-layout">
          <h2>Curso de HTML Básico</h2>
          <div class="main-vrau">
            <div class="lista-aula">
              <div class="aula">
                <div class="top-aula">
                  <img src="img/numero.png" width="40">
                  <div class="texto">
                    <p>Aula 1</p>
                    <h3>Apresentação do curso básico de HTML, CSS & JavaScript</h3>
                  </div>
                </div>
                <div class="curso">
                  <p class="text-desc">
                    Neste vídeo, você encontrará motivação para aprender a programar, criar sites e fazer disso sua profissão. Este é apenas um curso básico, não mostrando nem 50% do que se pode fazer com um conhecimento mais avançado sobre essas linguagens específicas. O nome do ministrante é Evandro Souza Falleiros, professor do IFMS Dourados.</p>
                  <iframe width="900" height="500" src="https://www.youtube.com/embed/gtE6F2rr9Ho" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="info-curso">
              <h3>Informações do curso</h3>
              <ul>
                <li><b>Nome: </b>Curso básico de HTML, CSS E JavaScript</li>
                <li><b>Postagem: </b>Plataforma de vídeos Youtube</li>
                <li><b>Horas aula: </b>Indefinido</li>
                <li><b>Conteúdo: </b>HTML, CSS e JavaScript</li>
              </ul>

              <div class="linha"></div>

              <div class="autor-curso">
                <img src="img/evandro.jpg" width="100">
                <h3>Evandro Luís Souza Falleiros</h3>
                <span>evandro.falleiros@ifms.edu.br</span>
                <p>Professor do IFMS Campus Dourados, designer, desenvolvedor web e visionário.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Fim Conteúdo -->
    <!-- Rodapé -->
    <footer>
      <p>&copy; Afonso Goiaba</p>
      <a href="https://github.com/afonsogoiaba">github.com/afonsogoiaba</a>
    </footer>
    <!-- Fim rodapé -->
  </body>
</html>






