*{
  margin: 0;
  padding: 0;
}

html,
body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

main{
  padding: 30px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_cadast{
  box-shadow: 0px 3px 30px rgba(0,0,0,0.25);
  padding: 30px 0px 30px 0px;
}

.form_cadast h2{
  text-align: center;
  
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 1.3rem;
  width: 60%;
  text-transform: uppercase;
  }

.container-entrada{
  width: 80%;
  margin: auto;
  display: flex;  
  flex-direction: column;
  padding: 0.45rem;
}

.container-entrada label{
  margin-bottom: 10px;
}

input{
  padding: 0.5rem;
  outline: none;
}

input[type="submit"]{
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
  background: var(--yellow);
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

.container-entradaa{
  text-align: center;
  margin: 10px auto;
  width: 70%;

}

.container-entradaa a{
  color: rgba(0,0,0,0.9);
}

@media screen and (min-width: 700px){
  main{
    padding: 0;
  }
  .main{
    height: 100vh;
  }

  .form_cadast{
    width: 500px;
  }

  .form_cadast h2{
    width: 50%;
  }
}