*{
  margin: 0;
  padding: 0;
}

html,
body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_cadast{
  box-shadow: 0px 3px 30px rgba(0,0,0,0.25);
  padding: 1.5rem;
  width: 80%;
  margin: 30px; 
}

.form_cadast h2{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.container-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn_cadastro{
  width: 40%;
  border-radius: 4px;
  margin: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
  background: var(--yellow);
  color: rgba(0,0,0,0.9);
  box-shadow: 1px 3px 8px rgba(0,0,0,0.45);
  border: solid 1px rgb(92, 92, 91);
}

.btn_acesso{
  width: 60%;
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
  text-align: center;
  color: rgba(0,0,0);
}

.container-entrada{
  display: flex;  
  flex-direction: column;
  padding: 0.5rem;
}

.container-entrada label{
  margin-bottom: 10px;
}

input{
  padding: 0.5rem;
  outline: none;
}

@media screen and (min-width: 700px){

  .main{
    height: 100vh;
  }

  .form_cadast{
    width: 500px;
  }
}