*{
  margin: 0;
  padding: 0;
}

.home-curso{
  height: 100%;
  display: grid;
  grid-template-columns: 15%;
  grid-template-rows: 100%;
  grid-template-areas: "lista conteudo conteudo"
}

.name{
  padding: 1.5rem 0rem 1.5rem 0rem;
  text-align: center;
  background: rgba(0,0,0,0.6);
}

.name h2{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
}

.lista{
  overflow-y: scroll;
  height: 100%;
  grid-area: lista;
  background: rgb(63, 62, 62);
}

.lista ul{
  padding: 0px 10px 10px 10px;
  list-style: none;
}

.lista a{
  display: block;
  padding: 20px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border-bottom: solid 1px	rgb(224, 215, 47);
}

.main-layout{
  grid-area: conteudo;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.main-layout h2{
  font-size: 1.6rem;
  border-bottom: solid 1px rgb(0,0,0);
  width: 100%;
  text-align: initial;
  padding: 0.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.main-vrau{
  display: flex;
  justify-content: space-around;
}

.nome-desc{
  padding: 0.5rem;
}

.nome-desc h3{
  text-align: initial;
}

.text-desc{
  margin-top: 10px;
  display: block;
  padding: 0.6rem;  
  text-align: justify;
  color: #000;
  font-weight: normal;
  margin-bottom: 40px;
}

.nome-desc iframe{
  outline: none;
  border: none;
}

.aula{
  padding: 10px;
  box-shadow: 0px 3px 30px rgba(0,0,0,0.25);
  width: 940px;
}

.top-aula{
  background: rgb(224, 215, 47);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 1.5rem;
}

.texto p{
  font-weight: bold;
  font-size: 1.2rem;
}

.texto h3{
  font-weight: normal;
  font-size: 1rem;
}


.top-aula p,
.top-aula h3{
  text-align: initial;
}

.top-aula img{
  margin: 0px 10px 0px 0px;
}

.info-curso{
  width: 500px;
  height: 550px;
  padding: 1rem;
  box-shadow: 0px 3px 30px rgba(0,0,0,0.25);
}

.curso iframe{
  background: url(../img/vrau.gif) no-repeat center center;
}

.info-curso ul{
  margin-top: 15px;
  padding: 0.5rem;
  list-style: none;
  text-align: initial;
  justify-content: flex-start;
}

.info-curso{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-curso li{
  padding: 5px;
}

.info-curso h3{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.linha{
  width: 100%;
  border: solid 2px rgb(224, 215, 47);
}

.autor-curso img{
  border-radius: 100px;
}

.autor-curso h3{
  text-transform: none;
}

.autor-curso{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.autor-curso span{
  color: rgba(0,0,0,0.78);
  font-style: italic;
  margin-bottom: 10px;
}