<!DOCTYPE html>
<html>
<!-- Links e outros -->
	<head>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Portfólio Final</title>
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Expletus+Sans" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	</head>
	<body>
	<!-- Menu mobile -->
		<header>
			<div class="menu">
				<div id="myNav" class="overlay">
  				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  				<!-- "menu" -->
  				<div id="nav" class="overlay-content">
    				<a href="#home">Home</a>
    				<a href="#pdw">Portfólio</a>
   					<a href="portwiki">Aprender</a>
    				<a href="#contato">Contato</a>
  				</div>
				</div>
					<a href="#">
						<img src="img/menu.png" width="40" height="30" onclick="openNav()">
					</a>
			</div>

			<div class="saudacao">
				<h2>Bem-vindo</h2>
			</div>
			<!-- Menu web-->
			<nav>
				<ul>
					<li><a id="salve" href="#home">Home</a></li>
					<li><a href="#pdw">Portfólio</a></li>
					<li><a href="portwiki">Aprender</a></li>
					<li><a href="#contato">Contato</a></li>
				</ul>
			</nav>
		</header>

		<main>
		<!-- Início - home page -->
			<section id="home" class="home">
				<div class="text-center">
					<h2>Bem-vindo</h2>
					<h1>Ao portfólio do programador <br/>
						<b>das estrelas</b></h1>
				</div>
				<div class="btn-roll">
						<a href="#pdw"><img src="img/btn-rolar.png" width="70" height="70"></a>
				</div>
			</section>
			<!-- Meio PT1 - PDW -->
			<section id="pdw" class="portfolio">
				<!-- texto explicativo -->
				<div class="text-pdw">
					<h2>Projeto e Design Web</h2>
					<p>Projetos feitos durante a disciplina de PDW e depois melhorados ao longo do
					tempo com o conhecimento adquirido tanto com os professores e suas aulas quanto por estudos extra-aula. Há também projetos em desevolvimento.</p>
				</div>
				<!-- primeiro projeto PDW -->
				<div class="projetos">
					<div class="container-projeto">
						<img class="some-mobile" src="img/projeto-pdw-web-1.jpg">
						<img class="some-web" src="img/projeto-pdw-mobile-1.jpg">
						<div class="container-texto">
							<h3>Trabalhos Primitivos</h3>
						</div>
						<div class="btn-conhecer">
							<h4><a href="#">Conhecer</a></h4>
						</div>
					</div>
					<!-- segundo projeto PDW -->
					<div class="container-projeto">
						<img class="some-mobile" src="img/projeto-pdw-web-2.jpg">
						<img class="some-web" src="img/projeto-pdw-mobile-2.jpg">
						<div class="container-texto">
							<h3 class="text-alter">Trabalhos Melhorados</h3>
						</div>
						<div class="btn-conhecer">
							<h4><a href="#">Conhecer</a></h4>
						</div>
					</div>
					<!-- terceiro projeto PDW -->
					<div class="container-projeto">
						<img class="some-mobile" src="img/projeto-pdw-web-3.jpg">
						<img class="some-web" src="img/projeto-pdw-mobile-3.jpg">
						<div class="container-texto">
							<h3>Projetos Independentes</h3>
						</div>
						<div class="btn-conhecer">
							<h4><a href="#">Conhecer</a></h4>
						</div>
					</div>
				</div>
			</section>
			<!-- Meio pt2 - LAEC -->
			<section id="laec" class="laec">
				<div class="texto-topo">
					<h2>Linguagem de Apresentação e Estruturação de Conteúdos</h2>
				</div>
				<!-- texto explicativo -->
				<div class="laec-aprender">
						<p>Estão aqui os projetos feitos desde LAEC 1 até LAEC 2, contendo tanto trabalhos
					quanto a melhoria dos mesmos com o decorrer do tempo e projetos próprios. Se quiser
					aprender, clique em "saiba mais"!</p>
					<div class="btn-saiba">
						<h3><a href="aprender.html">Saiba mais</a></h3>
					</div>
				</div>
				<!-- primeiro Projeto LAEC -->
				<div class="projetos">
					<div class="container-projeto">
						<img class="some-mobile" src="img/projeto-laec-web-1.jpg">
						<img class="some-web" src="img/projeto-laec-mobile-1.jpg">
						<div class="container-texto">
							<h3>Trabalhos Primitivos</h3>
						</div>
						<div class="btn-conhecer">
							<h4><a href="'#">Conhecer</a></h4>
						</div>
					</div>
					<!-- segundo projeto LAEC -->
					<div class="container-projeto">
						<img class="some-mobile" src="img/projeto-laec-web-2.jpg">
						<img class="some-web" src="img/projeto-laec-mobile-2.jpg">
						<div class="container-texto">
							<h3>Trabalhos Melhorados</h3>
						</div>
						<div class="btn-conhecer">
							<h4><a href="#">Conhecer</a></h4>
						</div>
					</div>
					<!-- terceiro projeto LAEC -->
					<div class="container-projeto">
						<img class="some-mobile" src="img/projeto-laec-web-3.jpg">
						<img class="some-web" src="img/projeto-laec-mobile-3.jpg">
						<div class="container-texto">
							<h3>Projetos Independentes</h3>
						</div>
						<div class="btn-conhecer">
							<h4><a href="#">Conhecer</a></h4>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Rodapé -->
		<footer id="contato">
			<!-- Agraço a todos -->
			<div class="quemSou">
				<img class="some-mobile-tablet" src="img/contato-web-foto.png">
				<img class="some-web-mobile" src="img/contato-mobile-foto.png">
				<h3>Afonso Barbosa</h3>
				<h4><i>"Fascinado pela magia do desenvolvimento Web"</i></h4>
				<!-- texto motivacional -->
				<p>Sou estudante do Instituto Federal de Ciência, Tecnologia e Educação de Mato Grosso do Sul, <i>campus</i> 	Dourados (IFMS - Dourados) e curso o 4º semestre do Curso Técnico Integrado em Informática para Internet. Posso dizer que é uma das melhores fases da minha vida, pois é com a família IFMS que aprimoro meus conhecimentos a cada dia, tanto com professores quanto com os próprios alunos. Esse site é resultado de um dos trabalhos pedidos e foi feito com o intuito de não apenas de ganhar nota, mas ajudar as próximas turmas a terem uma fonte de estudo criada por algúem que passou pelos mesmos problemas que elas vão vir a enfrentar com o decorrer do curso. Ao IFMS só tenho a agradecer!</p>
			</div>
			<!-- Me contate -->
			<div class="contato">
				<h3>Duvidas? Me contate!</h3>
				<h4> Procuro sempre responder o mais rápido possível!</h4>
					<!-- lista de contatos -->
					<ul>
						<li><b>Celular:</b> (67) 99234-5355</li>
						<li><b>Residencial:</b> (67) 3425-3258</li>
						<li><b>Gmail:</b> afonso33barbosa@gmail.com</li>
						<li><b>Outlook:</b> afonso01barbosa@hotmail.com</li>
					</ul>
			</div>

			<div class="redes-sociais">
				<h3>Minhas redes sociais</h3>
				<!-- lista de redes sociais -->
				<ul>
					<li><a href="https://www.facebook.com/afonso.barbosa.351 ">Facebook</a></li>
					<li><a href="https://www.github.com/afonsogoiaba.543">Github</a></li>
					<li><a href="https://twitter.com/mdsfonso">Twitter</a></li>
					<li><a href="https://linkedin.com/users/goiabafonso">Linkedin</a></li>
					<li><a href="https://www.instagram.com/afonsobds">Instagram</a></li>
					<li><a href="aprender.html">Aprenda</a></li>
				</ul>
			</div>
		</footer>
		<!-- scripts -->
		<script type="text/javascript" src="js/effect-roll.js"></script>
		<script type="text/javascript" src="js/nav.js"></script>
	</body>
</html>